.tagline {
    @include breakpoint(small) {
      @include grid-column(8);
    }

    @include breakpoint(medium) {
      @include grid-column(5);
      padding-top: 6rem;
    }

  h1 {
      color: $white;

      @include breakpoint(small) {
          font-size: 2.2rem;
      }

      @include breakpoint(medium) {
          font-size: 2.875rem;
      }
  }
}

// Paragraphs
p {
    margin-bottom: $paragraph-margin-bottom;
    font-size: 1.2rem;
    line-height: $paragraph-lineheight;
    text-rendering: $paragraph-text-rendering;
}

li {
    font-size: 1.2rem;
    line-height: $paragraph-lineheight;
    text-rendering: $paragraph-text-rendering;
}

