//SVG Shadows
@mixin svg-shadow( $horiz : 3px , $vert : 3px , $blur : 3px , $spread : 0px , $color : $dark-gray ) {
	text-shadow: $horiz $vert $blur $spread $color;
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3,
Color='#444')";
	filter: url(#drop-shadow);
	-webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
	filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}