// Navigation breakpoints
.mobile-menu,
.site-title-bar {
	@include hide-for(large);
}

.desktop-menu,
.site-navigation .top-bar-right {
	@include show-for(medium);
}

// Site title
.site-mobile-title a {
	// placeholder
}

.site-desktop-title a {
	font-weight: bold;
}

// Mobile menu
.mobile-menu {
	display: none; // prevents repaint caused by JS hiding menu onload
}

.mobile-menu,
.mobile-off-canvas-menu {

	// submenu arrow
	.is-accordion-submenu-parent {
		> a::after {
			border-color: $accordionmenu-arrow-color transparent transparent;
		}
		&.active > a::after {
			border-color: $menu-item-color-active transparent transparent;
		}
	}

	// current page
	.current_page_item > a {
		font-weight: bold;
	}
}

// Tablet and desktop menu
.desktop-menu {

	// submenu arrow
	li.is-dropdown-submenu-parent {
		> a::after {
			border-color: $accordionmenu-arrow-color transparent transparent;
		}
		&.active > a::after {
			border-color: $menu-item-color-active transparent transparent;
		}
	}
}

.site-navigation {
	@include breakpoint(small only) {
		padding: 0; // prevents container visibility on small screens
	}
}

// WP post navigation
.post-navigation {
	@include clearfix;
}

.nav-previous {
	float: left;
}

.nav-next {
	float: right;
}

.site-name {
	visibility: hidden;
}

.nav-menu-up {
	width: 100%;
}

.logo {
	margin-top: 10px;
	max-width: 200px;
	@include svg-shadow;
	@include breakpoint(small only) {
		margin-left: 10px;
		width: 165px;

	}
}

//Top bar
.top-bar-right {
	a {
		font-weight: $global-weight-bold;
		color: $dark-gray;
		&:hover {
			color: $primary-color;
		}
	}

	li {
		&:hover {
			font-weight: $global-weight-bold;
			color: $secondary-color;
		}

		&:active {
			font-weight: $global-weight-bold;
			color: $white;
			//background-color: $light-gray;
		}
	}
	.menu.vertical {
		li {
			a {
				&:hover {
					color: $white;
					background-color: $secondary-color;
				}
			}
		}

	}
}

.active-title-bar {
	color: $white;
}

.title-bar a {
	color: $body-font-color;
}

.underline {
	border-bottom: 2px solid $secondary-color;
}

//Offcanvas Mobile Menu

$offcanvas-full-screen-bg: rgba($dark-gray, .9);
$offcanvas-full-screen-side: left;
$offcanvas-full-screen-closebutton-size: 5rem;

.offcanvas-full-screen {
	@include off-canvas-base($background: $offcanvas-full-screen-bg, $transition: 0.3s ease-in-out);
	@include off-canvas-position($position: $offcanvas-full-screen-side, $size: 100%);
}

.offcanvas-full-screen-inner {
	padding: 1rem;
	text-align: left;
}

.offcanvas-full-screen-menu {
	@include menu-base;
	@include menu-direction(vertical);

	li {
		border-bottom: 1px solid $white;
		margin-bottom: 10px;
		font-size: 1.8rem;

		&:nth-last-child(1) {
			border-bottom: none;
		}

	}

	a {
		color: $primary-color;

		&:hover {
			color: $secondary-color;
		}
	}
}

.offcanvas-full-screen-close {
	color: $white;
	font-size: $offcanvas-full-screen-closebutton-size;
	float: right;

	&:hover {
		color: darken($primary-color, 30%);
	}
}